<!DOCTYPE html>
<html lang="pl">
<head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js">
    </script>
</head>
<body>
    <h2>Game State</h2>
    <div class = "gameState">Waiting for game...</div>
    <h2>Your Hand</h2>
    <div class = "playerHand">Waiting for game...</div>
    <input type="text" class="choice">
    <button onclick="sendChoice()">choose</button>
    <input type="text" class="specialChoice">
    <button onclick="sendSpecialChoice()">choose special</button>

    <script>
        const socket = io("http://localhost:6060");

        function sendChoice() {
            const choice = document.querySelector(".choice").value; 
            socket.emit("choice", choice);
        }
        function sendSpecialChoice() {
            const choice = document.querySelector(".specialChoice").value; 
            socket.emit("specialChoice", choice);
        }
        
        socket.on("gameState", ({state, player_hand}) => {
            document.querySelector(".gameState").textContent = state;
            document.querySelector(".playerHand").textContent = player_hand;
        });
    </script>
</body>
</html>