<!DOCTYPE html>
<html lang="pl">
<head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js">
    </script>
</head>
<body>
    <script>
        const socket = io("http://localhost:6060");
        socket.on("connection");
    </script>
</body>
</html>