* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #svelte {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #252525;
	font-family: system-ui, sans-serif;
}

h1, h2, h3 {
	flex-shrink: 0;
	white-space: nowrap;
	min-width: 0;
}

@font-face {
	font-family: 'yomogi';
	src: url('/assets/fonts/yomogi/Yomogi-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'sekaiwo';
	src: url('/assets/fonts/sekaiwo/Sekaiwo-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'night-in-tokyo';
	src: url('/assets/fonts/night-in-tokyo/NightinTokyo.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
